body
{
    background: greenyellow url("/img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}
.wrapper
{
    width:1200px;
    margin:0px auto;
    margin-top:20px;
    text-align: center;
    background:rgba(255,255,255,0.8);
    box-shadow: 5px 5px 5px black;
    border-radius:25px 10px;
    padding:5px;
}
.nav
{
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgb(232,214,195);
    opacity: 80%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10%;
}
.nav li
{
    float: left;
    height: 30px;
    padding: 0 10px;
    margin: 0 10px;
}
.nav li:first-child
{
    margin-left: 80px;
}
.nav li a {
    margin-top: 0px;
    display: block;
    padding: 10px;
    height: 100%;
    line-height: 30px;
    text-decoration: none;
    color:black;
    border-right: 1px black solid;
    border-left: 1px black solid;
    text-align: center;
}
.nav li a:hover
{
    background: rgb(202,199,175);
}
.columns
{
    column-count: 3;
    margin: 0;
    padding: 0;
    text-align: justify;
}
.columns h1
{
    text-align: center;
}
*{box-sizing: border-box}
.container
{
    width: 300px;
    overflow: hidden;
    margin: 50px auto 0 auto;
}
.container span
{
    width: 100%;
    display: block;
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 25px;
    background: lightgreen;
    border:1px black solid
}
.container .box
{
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    transition: all .25s ease-in-out;
    font-family: sans-serif;
    font-size: 85px;
    text-align: center;
    line-height: 100px;
    cursor: cell;
}
.container .box:hover
{
    background: rgba(0,100,0,0.5);
    color: #fff;
    border-radius: 20px;
}
button
{
    background: lightgreen;
    color: #000;
    font-weight: bold;
    border: 1px solid yellow;
    width: 200px;
    height: 40px;
    font-size: 22px;
    display: block;
    margin: 10px auto;
}
.win
{
    background: rgba(0,155,100,0.9);
    color: white;
}
.page
{
    display: none;
}